<nav class="contraste navbar navbar-expand-sm navbar-dark bg-dark">

  <h1><a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-film"></i> InfoMovies</a></h1>
  <a class="nav-link mt-2 text-light" [routerLink]="['/movies', 1]"><i class="fas fa-ticket-alt"></i> Filmes</a>

</nav>

<div class="row mt-4 mr-1">
  
  <div class="col-sm-12">
    <div class="d-flex justify-content-end">
      
      <button title="Auto contraste" onclick="mudarContraste()" class="btn btn-primary btn-lg mr-2"><i class="fas fa-adjust"></i></button>
      <button title="Aumentar fonte" onclick="aumentarFonte()" class="btn btn-primary btn-lg"><i class="fas fa-font mr-1"></i><i class="fas fa-plus"></i></button>
      <button title="Tamanho de fonte padrão" onclick="fontePadrao()" class="btn btn-primary btn-lg mx-2"><i class="fas fa-font"></i></button>
      <button title="Diminuir fonte" onclick="diminuirFonte()" class="btn btn-primary btn-lg"><i class="fas fa-font mr-1"></i><i class="fas fa-minus"></i></button>

    </div>
  </div>

</div>