<!-- Lista de Filmes -->
<div class="container mb-3">
    <mf-input-search></mf-input-search>
</div>

<section class="container">

    <div class="row">
        <div *ngFor="let movie of movies" class="col-sm-12 col-md-6 col-lg-4">

            <div class="border_contraste mt-1 px-5 pt-4 pb-0">
                <a class="mx-auto my-auto text-dark" [routerLink]="['/movie', movie.id]">
                    <img class="img-fluid rounded" [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path"
                        [alt]="'Pôster do filme ' + movie?.title" style="height: 400px;width: 300px;" />

                    <div class="card-body contraste px-0 pb-0">

                        <h3 class="card-title">{{movie.title}}</h3>
                        <p class="card-text">Avaliação: {{movie.vote_average}} <i class="fas fa-star"></i></p>
                        <p>Data de Lançamento: <i class="far fa-calendar-alt"></i>
                            {{movie.release_date | date:"dd/MM/yyyy"}}</p>

                    </div>
                </a>
            </div>

        </div>
    </div>

</section>

<hr>

<footer class="container">
    <button (click)="getPage()" class="btn btn-primary btn-lg mr-3 mb-2" *ngFor="let page of pages"
        [routerLink]="['/movies', page]" [title]="'Página' + page">{{page}}</button>
</footer>