<section>
    <div class="container">
        <mf-input-search></mf-input-search>
    </div>
    
    <div class="jumbotron mt-5 container border_contraste" id="info_Home">
        <h1><i class="fas fa-film"></i> InfoMovies</h1>
    
        <p>O InfoMovies mostra uma lista de filmes e torna possivel você observar algumas informações desses filmes.
            Você pode observar nossa lista de filmes <a title="Lista de filmes." [routerLink]="['/movies', 1]">AQUI</a>. Ou você pode pesquisar o filme
            de sua escolha na barra de pesquisa acima.</p>
    </div>
</section>